@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add custom global styles below if needed */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.max-container-w {
  @apply max-w-7xl;
}
